*{
  margin: 0;
  padding: 0;
}


h1{
  text-align: center;
  margin:50px 0;

}

.montserrat-header{
 text-align: center;
 margin: 50px 0;
 font-family: "montserrat" ,sans-serif;
 font-optical-sizing: auto;
 font-weight: 400;
 font-style: italic; 
}
/*signup*/

/*navBar*/
 .navbar{
  width: max-content;
  padding: 15px;
  border-radius: 5px;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
 }
 .navbar button{
height: 20px !important;
margin: auto;
}

.navbar ul{
list-style: none;
display: flex;
}
.navbar li{
  padding: 5px;
  margin: 20px;
}
.nav-link:hover{
  background-color: transparent;
  border-radius: 5px;
  outline: #5940c1 solid 1px;

}

.nav-link{
  color: black;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
}
.nav-link.active{
  background-color: transparent;
  border-radius: 5px;
  outline: #5940c1 solid 1px;

}

.tasks{
  text-decoration: underline;
  background-color: #f5f6fd;
  font-style: oblique;
}
/*tasks*/
.task-form{
  gap: 15px;
  display: flex;
  margin: auto;
  justify-content: center;
}
.update-form button{
  background-color: #5940c1;
  color: white;
  border: none;
  border-radius: 5px;
  width: fit-content;
  margin:20px auto !important;
}
.task-form input{
  width: 25%;
  height: 20px;
  padding: 10px;
  border-radius: 5px;
  border: none;
}
.task-form button{
  background-color: #5940c1;
  color: white;
  border: none;
  padding: 10px;
  height: 25px;
  margin-top: 30px;
  border-radius: 5px;
}
/*Login*/
.winky-sans-login-header,.winky-snas-list-item{
  font-family: "Winky sans",sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
}
.login,.signup{
  color: #251b5a;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  border-radius: 5px;
  width: 25%;
  background-color: #dbdbf9;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  height: 200px;
}
.loginForm,.signupForm{
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.tasks-container h2{
margin-bottom: 10px;
  text-align: center;
 font-family: "montserrat" ,sans-serif;
 font-optical-sizing: auto;
 font-weight: 400;
 font-style: italic; 
}
.loginForm button,.signupForm button,ul button{
  background-color: #5940c1 !important;
  width: 50%;
  margin: 0 auto;
}
td button{
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  width: 100px;
  height: 30px;
}
.editBTN{
  background-color: rgb(0, 124, 0) !important;
}
.deleteBTN{
background-color: rgb(177, 0, 0) !important;
}
.loginForm button:hover,.signupForm button:hover,ul button:hover,.task-form button:hover{
background-color: #422f8d !important;
}
table{
  border-radius: 5px;
margin: 50px auto;
  width: 80% !important; 
}